
Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/lld
Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/llvm-lipo
Temp/workerlic
Temp/UnityLockfile
Temp/PropertyDatabase_2066312223
Temp/PropertyDatabase_1265138678
Temp/FSTimeGet-74eabd0045022d04cb3196c1ed2d1122
Temp/FSTimeGet-6c8c5b2a6b7b3cf41806830a6d414ea7
Temp/FSTimeGet-67ea8c0b7d06ba8488dac3d3ed707e04
Temp/FSTimeGet-4a3d409b7040b2547b88b2191d0bff4e
Temp/FSTimeGet-1528fc8fba5160f4fb6b958551020542
Temp/CompilationLog.txt
Temp/__Backupscenes/0.backup
Temp/workerlic
Temp/CompilationLog.txt
